.login-bg {
  background-image: url('/public/logo512.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-card {
  width: 400px;
  background: linear-gradient(to bottom right, #7f00ff, #ff0000);
  border-radius: 20px;
}
