.popup2-wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.popup2-box {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: fadeInPopup 0.4s ease-out;
}
.popup2-box h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
  color:#ff0000;
  font-weight: bold;
}
.popup2-box h3 {
  margin: 0;
  color: #ff0000;
  font-size: 1rem;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #d75f70;
  color: white;
  font-size: 16px;
  width: 28px;
  height: 28px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  line-height: 28px;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.close-btn:hover {
  transform: rotate(180deg);
}

@keyframes fadeInPopup {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
